@charset "utf-8";
header, aside, article, footer,nav{
    border: 1px solid grey;
    margin: 10px;
    padding: 2px;
}

main{
    max-width: 800px;
    margin: auto;
}

main{
    display: grid;
    grid-template-areas:
        "h h h"
        "n a s"
        "f f f";
}

header{
    grid-area: h;
    background-color: #ff9900;
}


header h1{
    text-align: center;
}

nav {
    grid-area: n;
    background-color: #66ff66;
}
aside{
    grid-area: s;
    background-color: #3366cc;
}
article{
    grid-area: a;
    text-align: center;
    background-color: #ffb570;
}

footer{
    grid-area: f;
    text-align: center;
    background-color: #ffcccc;
}
#urlapValidacio{
    border: 1px solid black;
    margin: 5px;
    background-color: #ffe680;
    padding: 10px;
}
#urlapAdatok{
    border: 1px solid black;
    margin: 5px;
    background-color: #ffe680;
    padding: 5px;

}
aside section:nth-child(2) p{
    color:  #ff9999;
}

.urlapelem{
    text-align: right;
    margin: 2px;
}
.urlapelem2{
    text-align: right;
}
.urlapelem3{
    text-align: left;
    margin: 2px;
}
nav a{
    display: block;/*egymás alatt a menüpontok*/
    width: 60px;
    margin-right: 50px;
    margin-left: 5px;
    text-decoration: none;
}
#kuld{
    float: right;
    width: 150px;
    margin-top: 5px;
    margin-right: 10px;

}
#torol{
    float: left;
    width: 100px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}
#uzenet{
    float: left;
    width: 30%;
    margin-top: 2px;
}
#fieldset{
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
@media only screen and (max-width: 700px){
    main{
        grid-template-areas:
            "h"
            "n"
            "a"
            "s"
            "f";
    }
    fieldset input{
        width: 100%;
        margin-bottom: 5px;

    }
    .urlapelem{
        text-align: left;
        padding-right: 5px;
    }
    .urlapelem2{
        text-align: left;
        padding-right: 5px;
    }
    #kuld{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;


    }
    #torol{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;

    }
}








